
* , *::before , *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root{
  height: 100vh;
  padding: 0;
  margin: 0;
}

.layout {
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  height: 100%;
  grid-template-rows: 50px 561px 50px;
}


main {
  grid-area: main;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}




