
.products-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    .product-item {
        width: 30%;
        margin: 10px 0px;
        padding: 20px;
    img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        padding: 2px;
        border: 1px solid #c0c0c0;
    }
    .product-desc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin:10px 0 ;
    }

    button {
        display: block;
        width: 100%;
        border: 0;
        background: #2a5ea5;
        color: #fff;
        padding: 7px;
        border-radius: 2px;
        cursor: pointer;
    }

    }
}



