.products-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.products-wrapper .product-item {
  width: 30%;
  margin: 10px 0px;
  padding: 20px;
}
.products-wrapper .product-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  padding: 2px;
  border: 1px solid #c0c0c0;
}
.products-wrapper .product-item .product-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.products-wrapper .product-item button {
  display: block;
  width: 100%;
  border: 0;
  background: #2a5ea5;
  color: #fff;
  padding: 7px;
  border-radius: 2px;
  cursor: pointer;
}

.product-info img {
  width: 40%;
  display: block;
  margin: 20px auto;
}
.product-info p {
  color: #2a5ea5;
  font-size: 20px;
  margin: 10px 0;
  text-align: center;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}